@media(min-width: 2300px) {
    .container--homepage::after {
        width: 52%;
    }
}

@media(min-width: 1700px) {
    .landingPage__inner__section:first-of-type:after {
        left: -12%;
    }
}

@media(min-width: 1600px) {
    .club__section--beforeChat {
        margin-bottom: 0;
    }

    .player__flex--section--chat {
        padding-top: 0;
    }
}

@media(min-width: 996px) {
    .player__flex__text--marginRight {
        margin-right: 5%;
    }

    .player__flex__imgWrapper--chat {
        margin-bottom: -3px !important;
    }
}

@media(max-width: 2300px) {
    .container--homepage::after {
        width: 52.4%;
    }
}

@media(max-width: 2000px) {
    .container--homepage::after {
        width: 52.7%;
    }
}

@media(max-width: 1900px) {
    .landingPage__inner__section:nth-of-type(2)::after {
        left: -5%;
        width: 100%;
    }
}

@media(max-width: 1800px) {
    .landingPage__inner__section:nth-of-type(3)::after {
        left: 4%;
        transform: skewX(-14.1deg);
    }

    .userInfoEdition__value,
    .input--editProfile, .select--editProfile,
    .userInfoEdition__value label,
    .playerInfoEdition .input--editProfile,
    .experienceSection *,
    .userInfoEdition__key {
        font-size: 16px;
    }

    .clubAccountStart__bottom__section--laptop {
        width: 45%;
    }

    .siteHeader__btn--register {
        margin-left: 3%;
        margin-right: 2%;
    }

    .siteHeader__menu {
        padding: 0 20px;
    }

    .siteHeader__menu__link {
        padding: 0 7px;
    }

    .aboutUs {
        padding-top: 0;
        min-height: 0;
    }

    .aboutUs__profileWrapper {
        right: 0;
    }

    .aboutUs__profileWrapper--background {
        right: -250px;
    }

    .createSquad__squad__item__name {
        font-size: 24px;
    }

    .createSquad__squad__item__position {
        font-size: 17px;
    }

    .createSquad__squad__item__data__key, .createSquad__squad__item__data__value {
        font-size: 13px;
    }

    .createSquad__squad__item__imgWrapper {
        width: 80px;
        height: 80px;
    }

    .dropzone {
        width: 8vw;
    }

    .createSquad__squad__item__dragging {
        height: auto;
    }

    .createSquad__squad__item__dragging__img {
        width: 100%;
    }

    .createSquad__squad__item__dragging__imgWrapper {
        /*width: 80px;*/
        /*height: 80px;*/
    }

    .createSquad__squad__item__dragging__header {
        bottom: 15%;
    }

    .createSquad__squad__item__dragging__header__name {
        font-size: 14px;
    }

    .createSquad__squad__item__dragging__header__position {
        font-size: 12px;
    }

    .userInfoEdition__value--salary {
        width: 180px;
    }
}

@media(max-width: 1700px) {
    .container--homepage::after {
        left: 31.5%;
    }

    .landingPage__inner__section:first-of-type::after {
        width: 105%;
    }

    .landingPage__inner__section:nth-of-type(2) .landingPage__person {
        transform: translateY(110px);
    }

    .landingPage__inner__section:nth-of-type(2):hover .landingPage__person {
        transform: scale(1.05) translateY(110px);
    }
}

@media(max-width: 1600px) {
    .landingPage__inner__section:nth-of-type(2)::after {
        left: -3%;
        width: 98%;
    }

    .label--edit--email {
        min-width: 300px;
    }

    .clubForm .registerForm--nextBtn {
        width: 300px;
        font-size: 17px;
    }

    .clubForm .input,
    .clubForm .textarea {
        max-width: 100%;
    }

    .clubTeams .createSquad__squad__item__dragging__imgWrapper {
        width: 80px;
        height: 80px;
    }

    .siteHeader__menu__link {
        font-size: 15px;
    }

    .languageBtn,
    .siteHeader__menu {
        height: 60px;
    }

    .siteHeader__btn {
        width: 200px;
        height: 60px;
        font-size: 17px;
    }

    .aboutUs__header {
        font-size: 36px;
    }

    .aboutUs__captionWrapper {
        width: 350px;
    }

    .aboutUs__subheader {
        font-size: 18px;
    }

    .aboutUs__desc {
        font-size: 15px;
    }

    .aboutUs__buttons {
        padding-right: 0;
    }

    .aboutUs__btn {
        width: 25px;
    }

    .aboutUs__content {
        width: 48%;
    }

    .aboutUs__images {
        width: 45%;
    }

    .player__option__price {
        font-size: 120px;
    }

    .faq__btn, .faq__question__header__h {
        font-size: 25px;
    }

    .faq__question__header__btn {
        font-size: 50px;
    }

    .userInfoEdition__fullName {
        font-size: 28px;
    }

    .userInfoEdition__form__field {
        font-size: 21px;
    }

    .userInfoEdition__section {
        margin-right: 3vw;
    }

    .playerCard__stats__item__value {
        font-size: 32px;
    }

    .playerCard__header__h {
        font-size: 21px;
    }

    .chat, .chat__header {
        width: var(--siteWidth);
    }
}

@media(max-width: 1500px) {
    .landingPage__inner__section:nth-of-type(2)::after {
        width: 98%;
        display: none;
    }

    .container--homepage::after {
        left: 30%;
    }

    .landingPage__inner__section:nth-of-type(2):hover .landingPage__person {
        transform: scale(1.05) translateY(110px);
    }

    .landingPage__inner__section:nth-of-type(2) .landingPage__person {
        transform: translateY(110px);
    }
}

@media(max-width: 1400px) {
    .container--homepage::after {
        left: 28%;
    }

    .clubCarousel__item__img {
        height: 60px;
        width: auto;
        max-width: 90px;
    }

    .footer__inner {
        width: var(--siteWidth);
    }

    .player .player__option__price {
        font-size: 120px;
    }

    .player .player__option__currency {
        font-size: 50px;
    }

    .siteHeader__logo__img {
        width: 200px;
    }

    .registerModal__inner {
        width: 90%;
    }

    .userInfoEdition, .playerInfoEdition {
        width: var(--siteWidth);
    }

    .userInfoEdition__section {
        width: 250px;
    }

    .userInfoEdition__imgWrapper {
        width: 240px;
        height: 240px;
    }

    .myAccountStart__bottom__content__days {
        font-size: 30px;
    }

    .myAccountStart__bottom__content__days--big {
        font-size: 100px;
    }

    .player__header--findNewPlayer {
        font-size: 32px;
    }

    .clubAccountStart__bottom__text {
        font-size: 14px;
    }

    .button--clubAccountBottom, .orSpan {
        width: 300px;
    }

    .orSpan {
        font-size: 14px;
    }

    .siteWidthSuperNarrow--1400 {
        width: var(--siteWidth);
    }

    .clubTeams .createSquad__squad__item__dragging__imgWrapper {
        width: 100px;
        height: 100px;
    }

    .createSquad > .createSquad__name {
        order: 1;
        width: 45%;
    }

    .createSquad > .createSquad__settings {
        order: 2;
        width: auto;
    }

    .createSquad__main {
        width: 100%;
        order: 3;
        margin-top: 50px;
    }

    .dropzone {
        width: 12vw;
    }

    .dropzone .createSquad__squad__item__dragging {
        width: 100% !important;
    }

    .createSquad__squad__item__dragging__imgWrapper {
        width: 8vw;
        height: 8vw;
        top: 15%;
    }

    .createSquad__scrollbar {
        width: calc(var(--siteWidth) - 200px) !important;
    }

    .chat__header__h {
        font-size: 36px;
    }

    .chat__main__header__fullName {
        font-size: 28px;
    }

    .chat__list__item__imgWrapper {
        width: 50px;
        height: 50px;
    }

    .chat__list__item__name {
        font-size: 15px;
    }

    .chat__list {
        flex-basis: 35%;
    }

    .chat__main {
        flex-basis: 65%;
    }

    .chat__list__main {
        width: 80%;
    }

    .chat__message {
        min-width: 65%;
    }

    .siteHeader__btn {
        width: 100px;
        font-size: 15px;
    }

    .siteHeader__btn--register {
        width: 150px;
    }
}

@media(max-width: 1300px) {
    .container--homepage::after {
        width: 55%;
    }
}

@media(max-width: 1250px) {
    .landingPage__inner__section:nth-of-type(3)::after {
        left: 6%;
    }
}

@media(max-width: 1200px) {
    .d-over-1200 {
        display: none;
    }

    .d-below-1200 {
        display: block;
        padding: 40px 0;
    }

    .landingPage__personCaption {
        bottom: 15px;
    }

    .landingPage__inner__section::after {
        height: 180px;
    }

    .container--homepage::after {
        left: 26%;
    }

    .container--homepage::after {
        width: 56.5%;
    }

    .aboutUs__profileImg--bartek {
        margin-top: -150px;
    }

    .aboutUs__profileImg--michal {
        margin-top: -50px;
    }

    .clubCarousel {
        margin-top: 0;
    }

    .homepage--overlay--right {
        transform: skewX(-14.5deg);
    }

    .playersWall__compareSection__item__deleteBtn {
        top: -10px;
        right: 30px;
        width: 40px;
        height: 40px;
    }

    .myAccountStart__bottom__content__section {
        width: 100%;
        max-width: 500px;
    }

    .myAccountStart__bottom__content {
        flex-direction: column;
    }

    .footer__col__header {
        font-size: 18px;
    }

    .footer__col__list__item {
        font-size: 14px;
    }

    .footer__col:first-of-type {
        width: 200px;
    }

    .footer__contactItem .footer__col__list__item__link {
        left: 40px;
    }

    .footer__col__socialMediaLink {
        margin: 0 10px;
    }

    .siteHeader__logo__img {
        width: 120px;
    }

    .siteHeader__menu {
        padding: 0 20px;
    }

    .loginBox {
        width: 250px;
        padding: 20px;
    }

    .loginBox__form label, .loginBox__form .input {
        height: 40px;
        font-size: 14px;
    }

    .loginBox__form .input::placeholder,
    .loginBox__passwordRemindLink, .loginBox__or {
        font-size: 14px;
    }

    .loginBox__form label {
        margin-bottom: 10px;
    }

    .button--submit {
        font-size: 17px;
    }

    .button--facebook, .button--google, .button--apple {
        font-size: 12px;
    }

    .button--facebook__img, .button--google__img, .button--apple__img {
        margin-right: 5%;
    }

    .loginBox::before {
        right: 15%;
    }

    .registerForm label {
        height: 40px;
    }

    .registerModal__inner {
        height: 600px;
    }

    .registerModal__img {
        width: 40%;
    }

    .registerForm .input {
        height: 40px;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .sexFieldPlaceholder, .input--date__overlay {
        font-size: 15px;
    }

    .inputDateWrapper, .registerForm__select {
        height: 40px;
    }

    .registerForm .label--checkBtn {
        font-size: 10px;
    }

    .triangleDownImg {
        transform: scale(.7);
    }

    .label--checkBtn {
        padding-left: 35px;
    }

    .registerForm__checkBtn {
        width: 20px;
        height: 20px;
    }

    .aboutUs__captionWrapper {
        width: 250px;
    }

    .aboutUs__content {
        width: 45%;
    }

    .aboutUs__header {
        font-size: 26px;
    }

    .aboutUs__content {
        padding-bottom: 50px;
    }

    .player {
        width: var(--siteWidth);
    }

    .player__flex--options {
        margin: 30px 0;
    }

    .player__option__name {
        font-size: 21px;
    }

    .player__option__price {
        font-size: 70px;
    }

    .player__option__currency {
        font-size: 25px;
    }

    .faq__btn, .faq__question__header__h {
        font-size: 17px;
    }

    .faq__question__header__btn {
        font-size: 30px;
    }

    .mapContent {
        width: var(--siteWidth);
    }

    .mapContent .player__header {
        font-size: 32px;
    }

    .input--editProfile, .select--editProfile {
        font-size: 17px;
    }

    .siteWidthSuperNarrow {
        width: var(--siteWidth);
    }

    .myAccountStart__bottom__subscriptions > section {
        margin: auto;
    }

    .myAccountStart__text, .blogSection__extract, .clubActivities__empty {
        font-size: 14px;
    }

    .button--readMore {
        font-size: 15px;
    }

    .blogSection__title {
        font-size: 21px;
    }

    .clubActivities__header {
        font-size: 24px;
    }

    .clubActivities__subheader {
        font-size: 17px;
    }

    .playersWall__compareSection__item__imgWrapper {
        width: 100px;
        height: 100px;
    }

    .button--compare {
        width: 200px;
    }

    .playersWall__compareSection__item__name {
        margin-top: 10px;
        font-size: 17px;
    }

    .comparedPlayer__imgWrapper {
        width: 200px;
        height: 200px;
    }

    .comparedPlayer__fullName {
        font-size: 24px;
    }

    .comparedPlayer__section__key, .comparedPlayer__section__value {
        font-size: 16px;
    }

    .clubTeams__item__col {
        font-size: 14px;
    }

    .clubTeams .createSquad__squad__item__dragging__imgWrapper {
        width: 7vw;
        height: 7vw;
        top: 18%;
    }

    .clubTeams .createSquad__squad__item__dragging__header {
        height: 30px;
    }

    .clubTeams .createSquad__squad__item__dragging__header__name {
        font-size: 10px;
    }

    .clubTeams .createSquad__squad__item__dragging__header__position {
        font-size: 8px;
    }

    .createSquad__teamCostHeader {
        font-size: 21px;
    }

    .createSquad__teamCostHeader__value {
        font-size: 17px;
    }

    .createSquad__btn {
        width: 20px;
    }

    .chat__main__header__fullName,
    .chat__header__h {
        font-size: 24px;
    }

    .chat__header {
        margin-bottom: 0;
    }

    .chat {
        margin-top: 35px;
    }

    .chat__list__main {
        width: 90%;
    }

    .chat__header__h {
        flex-basis: 35%;
    }

    .siteHeader__content {
        transform-origin: top right;
        transform: scale(.8);
    }
}

@media(max-width: 1100px) {
    .container--homepage::after {
        width: 57%;
    }
}

@media(max-width: 996px) {
    .d-desktop-900 {
        display: none !important;
    }

    .d-mobile-900 {
        display: block !important;
    }

    .d-mobile-900-flex {
        display: flex !important;
    }

    .termsForClubs__inner {
        width: 100%;
        height: 100%;
    }

    .termsForClubs__inner > article {
        height: 85%;
    }

    .scroller * {
        font-size: 14px;
    }

    .termsForClubs__buttons {
        flex-direction: column;
    }

    .mapContent__clubsWrapper {
        margin-top: 0;
    }

    .termsForClubs__btn {
        width: 100%;
        max-width: 250px;
        height: 28px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .mapContent__countrySelectWrapper {
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }

    .mapContent__countrySelect {
        margin-right: 25px;
        font-size: 14px;
    }

    .mapContent__countrySelect--main {
        font-weight: 700;
    }

    .mapContent__countrySelect--hidden {
        visibility: visible;
        opacity: .7;
    }

    .landingPage__inner {
        margin-bottom: 10%;
    }

    .siteHeader__content {
        transform-origin: 60% 50%;
        transform: scale(.6);
    }

    .landingPage__inner__section .landingPage__person {
        transform: translateY(30px);
    }

    .landingPage__inner__section:hover .landingPage__person {
        transform: scale(1.05) translateY(30px);
    }

    .container--homepage::after {
        left: 22%;
    }

    .container--homepage .footer::before {
        height: 295px;
    }

    .input--salary {
        width: 30%;
    }

    .userInfoEdition__value--salary {
        width: 140px;
    }

    .container--homepage::after {
        width: 59%;
    }

    .siteHeader__menu {
        padding: 0 5px;
    }

    .siteHeader__menu__link {
        font-size: 12px;
        white-space: nowrap;
    }

    /*.landingPage__inner {*/
    /*    transform: translateX(-50%) scale(.4);*/
    /*}*/

    .clubTeams__header {
        font-size: 24px;
    }

    .chat__main__imgPreview {
        height: 100px;
    }

    .chat__main__imgPreview .btn__img {
        max-width: 200%;
    }

    .faqPage {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .clubCarousel__item__img {
        max-width: none;
    }

    .partners,
    .clubCarousel {
        height: 180px;
    }

    .clubCarousel__header {
        font-size: 15px;
    }

    .registerModal__inner {
        height: 550px;
    }

    .registerModal__header {
        font-size: 32px;
    }

    .registerModal__step {
        font-size: 17px;
    }

    .registerForm--nextBtn {
        width: 220px;
        height: auto;
    }

    .loginBox__error {
        font-size: 12px;
    }

    .resetPassword--newPassword label {
        width: 90%;
    }

    .resetPassword--newPassword .input {
        width: 100%;
    }

    .aboutUs__main {
        width: var(--siteWidth);
    }

    .aboutUs__content {
        width: 30%;
    }

    .aboutUs__images {
        width: 60%;
    }

    .player__flex__imgWrapper {
        width: 55%;
    }

    .tmpWrapper {
        width: 45%;
    }

    .player__header {
        font-size: 25px;
    }

    .player__flex__text {
        font-size: 15px;
    }

    .player__step__header {
        font-size: 17px;
    }

    .player__option__price {
        font-size: 50px;
    }

    .player__option__currency {
        font-size: 17px;
    }

    .faq__header {
        padding: 0 20px;
    }

    .userInfoEdition__key {
        width: 160px;
    }

    .mapContent__header, .mapContent__filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .mapContent__header__item {
        margin-left: 0;
        margin-bottom: 25px;
    }

    .mapContent__header__item__header {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .mapContent .player__header {
        margin-bottom: 20px;
    }

    .mapContent__header__item__labels span {
        font-size: 14px;
    }

    .mapContent__clubsWrapper {
        flex-direction: column;
    }

    .mapImg {
        order: 2;
        width: 100%;
        max-width: 600px;
        margin-top: 40px;
    }

    .mapContent__clubs {
        order: 1;
        width: 100%;
    }

    .userInfoEdition, .playerInfoEdition {
        flex-direction: column;
        width: 100%;
    }

    .playerInfoEdition {
        margin-top: 30px;
    }

    .userInfoEdition__graphSection {
        margin-left: 30px;
        margin-top: 10px;
    }

    .userInfoEdition__graphSection > svg {
        max-width: 80vw;
    }

    .userInfoEdition__form {
        width: 100% !important;
        border-radius: 0;
        max-width: 700px;
    }

    .userInfoEdition .userInfoEdition__form {
        margin-top: 50px;
    }

    .userInfoEdition__key, .userInfoEdition__value *, .userInfoEdition__value {
        font-size: 14px;
    }

    .userInfoEdition__btn {
        width: 10px;
    }

    .userInfoEdition__imgWrapper, .userInfoEdition__section {
        margin-right: 0;
    }

    .userInfoEdition__section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playerInfoEdition .userInfoEdition__btn--position {
        margin-left: 10px;
    }

    #apexchartsbasicxbar {
        width: 100% !important;
    }

    #playerGraph > div {
        margin-top: 0;
    }

    .playerVideoView .video-react {
        height: 150px;
        margin: 0 8px;
    }

    .userInfoEdition__graphSection {
        height: auto;
    }

    .video-react-big-play-button {
        width: 40px;
        height: 40px;
    }

    .container--light .playerVideoView {
        margin-bottom: 0;
    }

    .playerVideoView {
        margin-bottom: -40px;
    }

    .videoTable__header__h, .videoTable__item__element {
        font-size: 15px;
    }

    .videoTable__uploadBtn {
        width: 15px !important;
    }

    .searchFilters__position__header, .searchFilters__position__button {
        font-size: 14px;
    }

    .chat__message {
        min-width: 85%;
    }

    .chat__message__header__name {
        font-size: 15px;
    }

    .mapContent__clubs--mobile {
        width: 100%;
    }

    .container--dark .mapContent__clubs--mobile {
        background: #474747;
        padding: 15px;
    }

    .mapContent__clubs__img {
        height: 80px;
        width: auto;
        max-width: 100%;
        margin-left: 0;
    }

    .mapDot__btn__details {
        top: -15px;
    }

    .mapDot__btn__details::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
    }

    .d-mobile-900 .noClubsHeader {
        width: 85vw !important;
    }

    .playersWall {
        grid-template-columns: repeat(2, 1fr);
    }

    .findNewPlayerWrapper--clubAccountStart .playerCard:nth-of-type(3) {
        display: none;
    }

    .findNewPlayerWrapper--clubAccountStart .findNewPlayer {
        grid-template-columns: repeat(2, 1fr);
    }

    .paymentMethod__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .stuffSection {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0 !important;
    }

    .stuff__addNewBtn {
        border-radius: 0 !important;
    }

    .stuffModal__header,
    .stuff__header {
        font-size: 19px;
    }

    .stuffModal__dateLabel,
    .stuffModal__label,
    .cv__title {
        font-size: 17px;
    }

    .cv__date, .cv__desc {
        font-size: 14px;
    }

    .cv__menu {
        margin-left: 20px;
    }

    .cv__btn {
        width: 15px;
    }

    .stuffModal {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        border: none;
        z-index: 999;
    }

    .stuffModal__input {
        height: 40px;
    }

    .stuffModal__textarea {
        height: 140px;
    }

    .stuffModal__label--title, .stuffModal__dateLabel {
        width: 100%;
    }

    .stuffModal__label,
    .stuffModal__dateLabel {
        margin-bottom: 20px;
    }

    .stuffModal__form {
        margin-top: 15px;
    }

    .stuffModal__header {
        margin-top: 30px;
    }
}

@media(max-width: 900px) {
    .container--homepage::after {
        width: 60%;
    }
}

@media(max-width: 850px) {
    .container--homepage::after {
        width: 60.5%;
    }

    .container--homepage .footer::before {
        height: 287px;
    }
}

@media(max-width: 820px) {
    .landingPage__inner__section:nth-of-type(3)::after {
        left: 8%;
    }
}

@media(max-width: 800px) {
    .container--homepage::after {
        width: 61%;
    }
}

@media(max-width: 768px) {
    .d-mobile {
        display: block !important;
    }

    .landingPage__inner__section:nth-of-type(3)::after {
        left: 10%;
    }

    .siteHeader__content {
        transform: none;
    }

    .registerForm__btnWrapper {
        max-width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landingPage__inner {
        margin-bottom: 120px;
        margin-top: -25%;
    }

    .landingPage__inner__section::after {
        height: 160px;
    }

    .landingPage__inner__section:nth-of-type(3)::after {
        /*left: 20%;*/
    }

    .landingPage__inner__section:nth-of-type(2) .landingPage__person {
        transform: translateY(70px);
    }

    .landingPage__inner__section:nth-of-type(2):hover .landingPage__person {
        transform: scale(1.05) translateY(70px);
    }

    .container--homepage::after {
        left: 13%;
    }

    .deleteCvModal {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        z-index: 999;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .deleteCvModal .modal__inner {
        margin: 0;
        width: 100%;
    }

    .splide__arrows,
    .playerCard__balanceBtn,
    .d-desktop {
        display: none !important;
    }

    .contact__main,
    .contact {
        right: 0;
        max-width: none;
    }

    .contact__main .modal--close {
        top: 20px;
        right: 20px;
    }

    .contact__main .clubForm__inner button,
    .contact__main .clubForm__inner label {
        width: 80%;
    }

    .contact .contact__btn--mobile {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #474747;
        box-shadow: -3px 3px 6px #00000040;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        font-size: 10px;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .contact__main .clubForm__inner {
        margin-top: 5px;
    }

    .contact__main__header {
        margin-bottom: 15px;
    }

    .contact__main .input,
    .contact__main .textarea {
        margin: 10px auto;
        font-size: 15px;
    }

    .contact__main .textarea {
        height: 150px;
    }

    .player__flex__imgWrapper--chat {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .container--player .player__flex__imgWrapper--chat {
        width: 100%;
        justify-content: center;
    }

    .experienceSection {
        padding: 15px 5px 10px;
    }

    .experienceSection * {
        font-size: 12px;
    }

    .clubForm .player__flex__content {
        margin-left: 0;
    }

    .clubForm .registerForm--nextBtn,
    .clubForm .input,
    .clubForm .textarea {
        width: 100%;
     }

    .clubForm .registerForm--nextBtn {
        height: 60px;
    }

    .input--editProfile {
        max-width: 145px;
    }

    .playerInfoEdition .input--editProfile {
        max-width: 120px;
    }

    .label--edit--email .input--editProfile {
        max-width: 220px;
    }

    .label--edit--email {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .playerVideoView {
        margin-top: -60px;
    }

    .aboutUs__main {
        max-width: 90vw;
    }

    .container--club .player__flex__imgWrapper--phone {
        margin-bottom: -48px;
    }

    .aboutUs__profileImg--bartek {
        margin-top: 0;
    }

    .aboutUs__profileImg--michal {
        margin-top: 0;
    }

    .aboutUs__header {
        margin-bottom: 120px !important;
    }

    .player .player__option__price {
        font-size: 110px;
    }

    .player .player__option__name {
        margin-bottom: -27px;
    }

    .club,
    .player {
        width: 100%;
        position: relative;
        padding: 250px 5vw 0;
    }

    .player__firstImgWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .player__step {
        max-width: 270px;
    }

    .player__flex__text--afterSteps {
        margin-top: 10px;
    }

    .container--homepage::after {
        width: 64%;
    }

    .footer {
        padding-bottom: 0;
    }

    .footer__inner {
        flex-direction: column;
    }

    .clubTeams__tableHeader {
        margin-bottom: 10px;
    }

    .clubTeams__tableHeader__header {
        font-size: 10px;
    }

    .clubTeams__item__col:nth-of-type(2),
    .clubTeams__tableHeader__header:nth-of-type(2) {
        text-align: right;
        justify-content: flex-end;
    }

    .clubTeams__tableHeader__header,
    .clubTeams__item__col {
        flex-basis: 50% !important;
    }

    .footer__inner .footer__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__col__header {
        margin-bottom: 0;
    }

    .footer__col__list__item {
        text-align: center;
    }

    .footer__col:last-of-type {
        order: 1;
    }

    .footer__col:first-of-type {
        order: 2;
    }

    .footer__col:nth-of-type(2) {
        order: 3;
    }

    .footer__contactItem .footer__col__list__item__link {
        position: relative;
        left: 15px;
    }

    .CookieConsent > div {
        font-size: 12px;
        text-align: center;
    }

    .CookieConsent > div:last-of-type {
        margin: -10px auto 0;
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background: #474747;
        z-index: 1000;
        transform-origin: top right;
        transform: scaleX(0);
        transition: .5s all ease-in-out;
    }

    .mobileMenu > * {
        opacity: 0;
        transition: .5s all ease-in-out;
    }

    .mobileMenu__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: auto;
        background: transparent;
        border: none;
        outline: none;
    }

    .mobileMenu__close__img {
        filter: brightness(0) invert(1);
        width: 100%;
    }

    .mobileMenu__header {
        text-align: center;
        font-family: 'Oxanium', cursive;
        font-weight: 500;
        font-size: 30px;
        color: #fff;
        margin-top: 6vh;
    }

    .mobileMenu__list {
        width: 80%;
        margin: 20px auto;
    }

    .mobileMenu__list__item {
        text-align: center;
        padding: 20px 0;
        border-bottom: 2px solid var(--gold);
    }

    .mobileMenu__list__link {
        color: rgba(212, 212, 212, .8);
        font-size: 17px;
    }

    .mobileMenu__bottom {
        position: absolute;
        bottom: 3vh;
        left: 10%;
        width: 100%;
    }

    .mobileMenu__bottom__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 75%;
        margin: auto;
    }

    .mobileMenu__bottom__item {
        margin-bottom: 25px;
    }

    .mobileMenu__bottom__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: rgba(212, 212, 212, 1);
        background: transparent;
        font-size: 15px;
    }

    .mobileMenu__bottom__img {
        width: 35px;
        height: auto;
        margin-right: 25px;
    }

    .clubCarousel {
        height: 140px;
        margin-top: 50px;
    }

    .clubCarousel__header {
        padding: 20px 0;
    }

    .clubCarousel__inner {
        width: 90%;
    }

    .registerForm__select__option {
        font-size: 15px;
    }

    .resetPassword__header {
        font-size: 15px;
    }

    .label--remindPassword {
        width: 80%;
    }

    .input--remindPassword {
        width: 100%;
    }

    .button--resetPassword {
        width: 80%;
    }

    .resetPassword .button--back {
        width: 90%;
    }

    /*.container--homepage::after {*/
    /*    right: -24vw;*/
    /*}*/

    .aboutUs__main {
        flex-direction: column;
        border-bottom: 5px solid #F1E9DA;
    }

    .aboutUs__main > * {
        width: 100% !important;
        max-width: 500px;
    }

    .aboutUs__images {
        order: 1;
    }

    .aboutUs__content {
        order: 2;
        margin-top: 50px;
        padding-bottom: 0;
    }

    .aboutUs__profileWrapper {
        transform: none;
    }

    .aboutUs::after {
        display: none;
    }

    .aboutUs__main {
        margin-top: 20px;
        align-items: center;
    }

    .aboutUs__header--mobile {
        margin-bottom: 150px;
    }

    .aboutUs__profileWrapper {
        transform: scale(1.9) translateX(10%);
    }

    .aboutUs__profileWrapper--background {
        transform: scale(1.4) translateX(0);
        filter: brightness(.4) opacity(.5);
    }

    .aboutUs__captionWrapper {
        margin: 0 auto 40px;
        width: 100vw;
        transform: translateX(-5vw);
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutUs__caption {
        width: 80%;
        max-width: 400px;
    }

    .aboutUs__captionWrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 100%;
        height: 550px;
        background: linear-gradient(180deg, rgba(245,245,245,0) 0%, rgba(256,245,245,1) 45%, rgba(245, 245, 245,1) 100%);
        z-index: -1;
    }

    .aboutUs__subheader, .aboutUs__desc {
        position: relative;
        z-index: 6;
    }

    .footer--light--mobile {
        background: var(--light);
    }

    .footer--light--mobile .footer__col__header {
        color: var(--goldDark);
    }

    .footer--light--mobile .footer__col__list__item {
        color: #000;
    }

    .footer--light--mobile .footer__col__list__item__link:hover {
        color: var(--goldDark);
    }

    .player__section, .player__flex {
        flex-direction: column;
        align-items: center;
    }

    .player__flex > *,
    .player__section > * {
        width: 100%;
    }

    .player__flex__imgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 30px;
    }

    .player__section--1 .player__flex__imgWrapper {
        order: 2;
    }

    .player__section--1 .player__flex__content {
        order: 1;
    }

    .player__flex--section {
        margin: 15px 0;
    }

    .player__step {
        margin-bottom: 30px;
    }

    .player__step__imgWrapper {
        width: 70vw;
        height: 70vw;
        max-width: 300px;
        max-height: 300px;
    }

    .player__option {
        max-width: 350px;
        margin-bottom: 25px;
    }

    .player__option__header {
        font-size: 24px;
    }

    .player__option__price {
        font-size: 120px;
    }

    .player__option__currency {
        font-size: 30px;
    }

    .faq__header {
        flex-direction: column;
        height: auto;
    }

    .faq__header__divider {
        display: none;
    }

    .faq__btn {
        margin: 5px 0;
        height: 50px;
    }

    .faq__btn--current::after {
        height: 5px;
    }

    .faq__question__header {
        padding: 0 5%;
    }

    .faq__question__main {
        font-size: 13px;
    }

    .siteHeader__player {
        background: transparent;
    }

    .d-desktop-flex {
        display: none;
    }

    .playerVideoView {
        width: 100%;
    }

    .playerVideoView__btnWrapper {
        justify-content: center;
    }

    .embla__slide--video {
        height: 140px;
        margin: 0 15px;
    }

    .embla__slide--video__playBtn {
        width: 40px;
        height: 40px;
    }

    .videoUploadContent {
        width: 100%;
    }

    .videoTable__item {
        border-left: none;
        border-right: none;
    }

    .player__header {
        margin-left: 5vw;
    }

    .mapContent__header .player__header,
    .player .player__header {
        margin-left: 0;
    }

    .videoUpload__backBtn {
        margin-left: 5%;
    }

    .videoTable__header {
        display: none;
    }

    .videoTable__mobile__more {
        width: 15px;
        height: auto;
        background: transparent;
    }

    .videoTable__mobile__more__img {
        width: 100%;
    }

    .videoTable__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        position: relative;
    }

    .videoTable__item__miniature {
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    .videoTable__item__element:first-of-type {
        grid-row: 1;
        grid-column: 2;
    }

    .videoTable__item__element:last-of-type {
        grid-column: 2;
        grid-row: 2;
    }

    .videoTable__mobileButtons {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .videoTable__item__element {
        width: 90%;
    }

    .videoUploadContent {
        margin-bottom: -100px;
    }

    .videoUploader__imgWrapper {
        width: 80px;
        height: 80px;
    }

    .videoUploader__text {
        font-size: 16px;
    }

    .player__header--videoUploader {
        margin-left: 0;
        left: 50px;
    }

    .videoTable__mobile__activity {
        font-size: 12px;
        background: #5E5D5D;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        padding: 3px 5px 0;
        font-family: 'Oxanium', cursive;
        font-weight: 300;
    }

    .modal__inner__header {
        font-size: 17px;
    }

    .payment__header {
        font-size: 21px;
    }

    .payment__text, .payment__item__header {
        font-size: 14px;
    }

    .payment {
        padding-top: 15px;
    }

    .payment__item {
        padding: 15px;
        height: 80px;
    }

    .input--couponCode {
        width: 200px;
    }

    .payment__item__icon {
        width: 50px;
    }

    .payment__item__iconAbsolute {
        width: 12px;
    }

    .paymentMethod {
        padding: 15px;
    }

    .payment__item__formWrapper {
        width: calc(100% - 30px);
    }

    .input--payment {
        height: 40px;
        font-size: 15px;
    }

    .input--payment::placeholder {
        font-size: 15px;
    }

    .button--payment--card {
        margin-top: 10px;
    }

    .paymentItemWrapper {
        margin-bottom: 10px;
    }

    .input--couponCode {
        margin-top: 15px;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    .payment__couponCode label, .payment__couponCode__error, .payment__couponCode__result span {
        font-size: 17px;
    }

    .myAccountStart__bottom__content__lock {
        margin: 0 auto;
        transform: none;
        max-width: 100%;
    }

    .player__flex__content .player__header, .myAccountStart__bottom__content__section .player__header {
        margin-left: 0;
    }

    .pageContent--paymentReturn {
        margin-top: 50px;
    }

    .pageContent__header {
        font-size: 24px;
    }

    .pageContent__subheader {
        font-size: 15px;
    }

    .clubAccountStart__bottom {
        flex-direction: column;
    }

    .clubAccountStart__bottom__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure.clubAccountStart__bottom__section {
        margin-bottom: 50px;
    }

    .player__header--findNewPlayer {
        margin: 0 0 20px 0;
    }

    .findNewPlayerWrapper .playerCard:last-of-type {
        display: block;
    }

    .playerCard {
        width: 95% !important;
    }

    .button--showPlayersPage {
        width: 80%;
        max-width: 400px;
        margin: 40px auto 0;
    }

    .playerCard__imgWrapper {
        height: clamp(100px, 70vw, 300px);
    }

    .playersWall--mobile {
        width: 100% !important;
        padding-bottom: 50px;
    }

    .playersWall__mobileHeader {
        margin: 30px auto;
        width: 90%;
    }

    .playersWall__mobileHeader__header {
        color: rgba(255, 255, 255, .8);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 28px;
    }

    .playersWall__mobileHeader__filterBtn {
        margin: 25px 0;
        width: 150px;
        height: 40px;
        background: #474747;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        margin-left: -5vw;
    }

    .playersWall__mobileHeader__filterBtn__img {
        width: 25px;
        height: auto;
        margin-right: 30px;
    }

    .playersWall__mobileFilters {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        background: #282828;
        z-index: 999;
    }

    .playersWall__mobileFilters__header {
        background: #474747;
        padding: 5px 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        position: relative;
    }

    .playerCard--stuff .playerCard__imgWrapper {
        width: 130px;
        height: 130px;
        margin-top: -65px;
        margin-bottom: 15px;
    }

    .playersWall__mobileFilters__header__btn {
        background: transparent;
        width: 20px;
        height: auto;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .playersWall__mobileFilters__header__btn__img {
        filter: brightness(0) invert(1);
        transform: rotate(180deg);
    }

    .stuffCard__stats__item > * {
        font-size: 14px;
    }

    .playersWall__mobileFilters__header__h {
        color: #fff;
        font-size: 21px;
        font-weight: 400;
        font-family: 'Oxanium', cursive;
        text-align: center;
    }

    .playersWall__mobileFilters .searchFilters__filters {
        width: 85%;
        margin: 20px auto;
    }

    .singleFilter__values__min, .singleFilter__values__max,
    .playersWall__mobileFilters .singleFilter__header {
        font-size: 14px;
    }

    .playersWall__mobileFilters .singleFilter {
        margin-bottom: 20px;
    }

    .playersWall--mobile {
        min-height: 80vh;
    }

    .playersWall__playersNotFoundHeader {
        color: #fff;
        text-align: center;
        margin: 50px auto 20px;
        max-width: 90%;
        font-size: 21px;
    }

    .playersWall__mobileFilters__btn {
        width: 90%;
        display: block;
        margin: 20px auto;
        background: transparent;
    }

    .searchFilters__position--mobile {
        background: transparent;
        border: none;
        display: grid;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0 5vw;
    }

    .searchFilters__position--mobile .searchFilters__position__header {
        grid-column: 1 / span 2;
        margin-bottom: 20px;
    }

    .createSquad__players .searchFilters__position--mobile .searchFilters__position__header {
        margin-bottom: 0;
    }

    .searchFilters__position--mobile .searchFilters__position__positions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;
        width: 85vw;
    }

    .searchFilters__position--mobile .searchFilters__position__button {
        display: block;
        width: 48%;
        margin-bottom: 20px;
    }

    .noVideosHeader {
        font-size: 21px;
        max-width: 90%;
        margin: auto;
    }

    .playerVideoView__carousel .splide, .playerVideoView__carousel .splide-track,
    .playerVideoView__carousel .video-react {
        height: 100px !important;
    }

    .playerVideoView__btn--club {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .playBtn {
        width: 30px;
        height: 30px;
    }

    .playerVideoView__carousel {
        height: auto;
    }

    .clubTeams .createSquad__squad__item__dragging__header {
        height: auto;
    }

    .createSquad__squad__item__dragging__header__name {
        font-size: 7px !important;
    }

    .createSquad__squad__item__dragging__header__position {
        font-size: 5px !important;
    }

    .createSquad__squad__item__dragging__header {
        bottom: 15%;
        padding: 1px;
    }

    .clubTeams__teamSection {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 5px 30px;
        width: 100%;
        height: 50px;
        margin-top: -25px;
        background: var(--dark);
        margin-bottom: 25px;
    }

    .clubTeams {
        margin-bottom: 50px;
    }

    .modal--deleteSquad .modal__inner {
        width: 100%;
        height: auto;
    }

    .modal__header {
        font-size: 17px;
    }

    .modal__buttons {
        flex-direction: column;
    }

    .modal__btn {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .modal__close {
        top: 10px;
        right: 10px;
        width: 15px;
    }

    .createSquad__settings {
        margin-top: 5px;
    }

    .createSquad__teamCostHeader, .createSquad__teamCostHeader__value {
        font-size: 15px;
    }

    .createSquad__name .userInfoEdition__value .input--editProfile {
        font-size: 21px;
    }

    .createSquad__name .userInfoEdition__value label {
        padding-left: 0;
    }

    .createSquad__squad__item__dragging__trashBtn {
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
    }

    .createSquad > .createSquad__name {
        width: 80%;
    }

    .teamSaved {
        width: 100%;
    }

    .teamSaved__header {
        font-size: 21px;
    }

    .dropzone {
        width: 14vw;
    }

    .createSquad__main {
        margin-left: -4vw;
    }

    .createSquad__squad {
        height: auto;
        padding-left: 0;
        background: transparent;
        overflow-y: scroll;
    }

    .createSquad__squad__track {
        height: auto;
        align-items: flex-start;
        width: 82vw !important;
        flex-direction: column;
    }

    .createSquad__squad__itemWrapper {
        margin: 0 0 20px 0;
        flex-basis: 100% !important;
        width: 96%;
    }

    .createSquad__squadWrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 90vw;
        margin: auto;
        height: 400px;
    }

    .createSquad__scrollbar--mobile {
        margin-top: 25px;
    }

    .createSquad__squad__item {
        padding: 15px;
        height: auto;
    }

    .createSquad__squad__item__name {
        font-size: 21px;
    }

    .createSquad__squad__item__position {
        font-size: 14px;
    }

    .createSquad__squad::-webkit-scrollbar {
        width: 10px;
        background: #474747;
        border: 1px solid #707070;
        border-radius: 9px;
    }

    .createSquad__squad::-webkit-scrollbar-thumb {
        background: var(--gold);
        border-radius: 9px;
    }

    .createSquad__squad__item__data__key,
    .createSquad__squad__item__data__value {
        font-size: 12px;
    }

    .createSquad__squad__item__data__key {
        margin-right: 6px;
    }

    .chat__main,
    .chat__list {
        flex-basis: 100%;
    }

    .chat__main {
        flex-wrap: wrap;
    }

    .chat__list__main {
        width: 95%;
    }

    .chat__header__h {
        font-size: 32px;
    }

    .chat__list__item__content {
        max-width: 80%;
    }

    .chat__list__item__name {
        font-size: 18px;
        font-weight: 400;
    }

    .chat {
        margin-bottom: 5vh;
        flex-wrap: wrap;
    }

    .chat__mobileHeader {
        width: 90%;
        margin: 20px auto;
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
    }

    .chat__main__main {
        width: 90%;
    }

    .chat__main__header__fullName {
        white-space: normal;
        font-size: 17px;
        margin-left: 0;
    }

    .chat__mobileHeader__btn {
        width: 30px;
        height: auto;
        background: transparent;
        margin-right: 25px;
    }

    .searchFilters__position--mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: #474747;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .createSquad__players .searchFilters__position__positions--mobile {
        width: 100%;
        display: flex !important;
    }

    .searchFilters__arrowDownBtn--rotate {
        transform: rotate(180deg);
    }

    .searchFilters__positionList span {
        color: rgba(255, 255, 255, .6);
        display: block;
        margin-bottom: 3px;
        font-size: 15px;
    }

    .searchFilters__position__positions--mobile {
        padding-top: 20px;
    }

    .createSquad__players .searchFilters__position__button:nth-last-child(2),
    .createSquad__players .searchFilters__position__button:last-child {
        margin-bottom: 0;
    }

    .createSquad__main .createSquad__squad__item__dragging__trashBtn {
        opacity: 1;
    }

    .teamSaved {
        height: 30vh;
    }

    .noTeams__header {
        font-size: 16px;
    }

    .notifications {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 50px auto;
    }

    .notifications .profileMenu {
        position: relative;
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
        transform: none;
    }

    .notifications .profileMenu::before {
        display: none;
    }

    .notifications__header {
        color: rgba(255, 255, 255, .7);
        font-family: 'Oxanium', cursive;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 30px;
    }

    .container--light .notifications__header {
        color: var(--grey);
    }

    .siteHeader {
        padding-top: 15px;
    }

    .siteHeader__logo__img {
        width: 100%;
    }

    .siteHeader__content {
        align-items: flex-start;
    }

    .siteHeader__logo {
        width: 40%;
        transform: translateX(-3%);
    }

    .siteHeader__player {
        padding-top: 0;
    }

    .mobileMenu__btn {
        margin-top: 13px;
    }

    .playerCard__header {
        height: 55px;
    }

    .playerCard__header__h {
        font-size: 17px;
    }

    .playerCard__stats {
        padding: 20px 10px;
    }

    .playerCard__stats__item {
        padding: 0 2px 10px 2px;
    }

    .playerCard__stats__item__value {
        font-size: 24px;
    }

    .playerCard__stats__item__key {
        font-size: 10px;
    }

    .playerCard__moreBtn {
        font-size: 15px;
        height: 35px;
        border-width: 2px;
    }

    .chat__list__scrollbar {
        margin-left: 1vw;
    }

    .playerCard__addToFavorites {
        width: 21px;
        margin-top: -2px;
    }

    .container--light .notifications .messageMenu__list__item__header {
        color: #3d3d3d;
    }

    .single__title {
        font-size: 24px;
    }

    .single__article * {
        font-size: 14px;
    }

    .progressBar {
        width: 60vw;
        margin-top: 20px;
    }

    .videoLoadingWrapper > div {
        transform: scale(.8);
    }

    .playerCard__balanceBtn--added {
        background: rgba(0, 0, 0, .5);
    }

    .createSquad__squad__item {
        width: 100%;
    }

    .video__title {
        font-size: 15px;
        padding: 5px 20px;
    }

    .stuff__writeMsg {
        width: 90vw;
        margin-top: 0;
    }

    @media(min-width: 700px) {
        .landingPage__link--left::after {
            display: none;
        }
    }
}

@media(max-width: 700px) {
    .container--homepage::after {
        width: 61.5%;
    }

    .container--homepage::after {
        left: 10%;
    }
}

@media(max-width: 600px) {
    .landingPage__inner__section .landingPage__person {
        transform: translateY(0);
    }

    .landingPage__inner__section:hover .landingPage__person {
        transform: scale(1.02) translateY(0);
    }

    .landingPage__inner__section:nth-of-type(2) .landingPage__person {
        transform: translateY(42px);
    }

    .landingPage__inner__section:nth-of-type(2):hover .landingPage__person {
        transform: scale(1.02) translateY(42px);
    }

    .container--homepage::after {
        left: 7%;
    }
}

@media(max-width: 576px) {
    .container--homepage .clubCarousel::after {
        display: none;
    }

    .container--homepage::after {
        left: 8%;
    }

    .partners {
        bottom: -235px;
    }

    .partners__main {
        justify-content: center;
    }

    .partners__imgWrapper {
        width: 80px;
        height: 70px;
    }

    .mapDot__btn__details__data span {
        white-space: normal;
    }

    .mapDot__btn__details__singleClub {
        width: 60vw;
    }

    .pageText {
        margin: 40px auto;
    }

    .pageText p {
        font-size: 14px;
    }

    .pageText__header {
        font-size: 24px;
    }

    #belka {
        left: 0.6%;
    }

    .landingPage__link--left::after.landingPage__inner {
        right: 6%;
        height: 100px;
    }

    /*.landingPage__inner {*/
    /*    height: 57vw !important;*/
    /*    width: 101% !important;*/
    /*    left: 50%;*/
    /*    transform: translateX(-50%);*/
    /*}*/

    .aboutUs__header {
        margin-bottom: 90px !important;
    }

    .container--homepage .clubCarousel {
        margin-top: 70px;
    }

    .chat__message {
        min-width: 100%;
    }

    .chat {
        height: 60vh;
        width: 90vw;
    }

    .chat__main__main {
        width: 93%;
    }

    .chat__main {
        justify-content: space-between;
    }

    .clubTeams__floor {
        margin-left: -3%;
    }

    .resetPassword .successImg {
        width: 60px;
    }

    .resetPassword {
        height: auto;
        padding: 50px 4%;
    }

    #playerGraph > div {
        margin-left: 5vw;
    }

    .dzu-dropzone::after {
        width: 70px;
        height: 70px;
        background-size: 40px;
    }

    .videoTable__item {
        height: 110px;
    }

    .videoTable__item__miniature {
        width: 120px;
        height: 67px;
    }

    .player__header--videoUploader {
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 50px;
    }

    .paymentMethod__btn {
        width: 100%;
        height: 70px;
    }

    .paymentMethod__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .paymentMethod__name {
        font-size: 8px;
    }

    .payment__item {
        padding-right: 70px;
    }

    .findNewPlayer--mobile {
        width: 100vw;
        margin-left: -5vw;
    }

    .club,
    .player {
        padding-top: 160px;
    }

    .club .faq {
        margin-bottom: 0;
    }

    .landingPage {
        z-index: 3;
    }

    .footer {
        z-index: 1;
    }

    .container--homepage .footer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 280px;
        background: var(--dark);
        transform: translateY(-100%);
        z-index: -1;
    }

    .mapDot__btn__details__imgWrapper {
        height: 50px;
    }

    .mapDot__btn__details__data span {
        font-size: 12px;
    }

    .siteHeader {
        z-index: 101;
    }

    .videoTable__error {
        font-size: 17px;
        max-width: 90%;
    }
}

@media(max-width: 550px) {
    .container--homepage::after {
        left: 5%;
    }

    .landingPage__person {
        width: 110% !important;
    }

    .landingPage__inner__section:nth-of-type(2) .landingPage__person {
        width: 100% !important;
    }

    .landingPage__inner__section:nth-of-type(3)::after {
        left: -3%;
    }

    .landingPage__inner {
        margin-bottom: 110px;
        justify-content: space-evenly;
    }

    .container--homepage .siteHeader {
        background: var(--light);
        padding-bottom: 20px;
    }

    .landingPage__inner {
        min-height: 310px;
    }

    .landingPage__inner__section:first-of-type::before {
        content: "";
        background: var(--dark);
        position: absolute;
        bottom: -50px;
        left: 111%;
        width: 30vw;
        height: 400px;
        transform: skewX(-14.1deg);
        z-index: 2;
    }

    .landingPage__inner__section:last-of-type::before {
        content: "";
        background: var(--dark);
        position: absolute;
        top: 0;
        right: 50%;
        width: 30vw;
        height: 300px;
        transform: skewX(-14.1deg);
        z-index: 3;
        display: none;
    }
}

@media(max-width: 500px) {
    .container--homepage::after {
        left: 3%;
    }

    .landingPage__inner {
        margin-top: -150px;
    }

    .landingPage__inner__section:first-of-type::before {
        left: 114%;
    }
}

@media(max-width: 450px) {
    .container--homepage::after {
        left: -5%;
        width: 32% !important;
    }

    .label--edit--email {
        min-width: 250px;
    }
}

@media(max-width: 420px) {
    .container--homepage::after {
        left: -9%;
    }

    .landingPage__inner__section:first-of-type::before {
        left: 119%;
    }
}

@media(max-width: 390px) {
    .container--homepage::after {
        left: -15%;
    }

    .landingPage__inner__section {
        width: 33%;
    }

    .landingPage__inner {
        margin-top: -150px;
    }

    .landingPage__inner__section:nth-of-type(2)::after {
        width: 77%;
        display: block;
        left: 0;
        height: 110px;
    }

    .landingPage__inner__section:first-of-type::before {
        left: 112%;
    }
}

@media(max-width: 350px) {
    .aboutUs__header {
        font-size: 21px;
    }

    .container--homepage::after {
        left: -20%;
    }

    .createSquad__squad__item__imgWrapper {
        height: 60px;
        width: 60px;
    }
}

@media(max-width: 310px) {
    .container--homepage::after {
        left: -25%;
    }
}

@media(-webkit-min-device-pixel-ratio: 1.2) {
    .loginBox {
        transform: translateY(95%) scale(.9);
    }

    .registerModal__inner {
        transform-origin: top left;
        transform: scale(.85) translate(-50%, -50%);
    }
}

@media(min-height: 1300px) {
    .aboutUs__main {
        padding: 150px 0 120px;
    }

    .landingPage__inner {
        margin-bottom: -2.8%;
    }
}

@media(-webkit-max-device-pixel-ratio: 1.05) {
    .siteHeader__menu__submenu {
        bottom: -125px;
    }
}

@media(-webkit-min-device-pixel-ratio: 1.05) {
    .container--homepage::after {
        transform: skewX(-14.1deg) scaleX(1.09);
    }

    @media(max-width: 996px) {
        .container--homepage::after {
            transform: skewX(-14.1deg) scaleX(1.19);
        }
    }

    @media(max-width: 700px) {
        .container--homepage::after {
            transform: skewX(-14.1deg) scaleX(1.3);
        }
    }

    @media(max-width: 600px) {
        .container--homepage::after {
            transform: skewX(-14.1deg) scaleX(1.37);
        }
    }

    @media(max-width: 576px) {
        .container--homepage::after {
            transform: skewX(-14.1deg) scaleX(1.025);
        }
    }

    @media(max-width: 360px) {
        .landingPage__link--left::after {
            right: 6%;
        }
    }

    @media(min-width: 1900px) {
        .landingPage__link--left::after {
            right: 6%;
        }
    }

    @media(min-width: 2500px) {
        .landingPage__link--left::after {
            right: 8%;
        }
    }
}

@media(max-height: 700px) {
    .mobileMenu__list {
        transform: scale(.7);
        transform-origin: top;
    }

    .mobileMenu__bottom {
        transform: scale(.7);
        transform-origin: center bottom;
        bottom: 8vh;
    }
}

@media(max-height: 520px) {
    .mobileMenu__list {
        transform: scale(.6);
    }

    .mobileMenu__bottom {
        transform: scale(.6);
    }
}
