@media(max-width: 1800px) {
    .siteHeader__btn--register {
        margin-left: 3%;
        margin-right: 2%;
    }

    .siteHeader__menu {
        padding: 0 20px;
    }

    .siteHeader__menu__link {
        padding: 0 7px;
    }

    .aboutUs__profileWrapper {
        right: 0;
    }

    .aboutUs__profileWrapper--background {
        right: -250px;
    }

    .createSquad__squad__item__name {
        font-size: 24px;
    }

    .createSquad__squad__item__position {
        font-size: 17px;
    }

    .createSquad__squad__item__data__key, .createSquad__squad__item__data__value {
        font-size: 13px;
    }

    .createSquad__squad__item__imgWrapper {
        width: 80px;
        height: 80px;
    }
}

@media(max-width: 1600px) {
    .clubTeams .createSquad__squad__item__dragging__imgWrapper {
        width: 80px;
        height: 80px;
    }

    .siteHeader__menu__link {
        font-size: 15px;
    }

    .siteHeader__btn {
        width: 200px;
        height: 60px;
        font-size: 17px;
    }

    .aboutUs__header {
        font-size: 36px;
    }

    .aboutUs__captionWrapper {
        width: 350px;
    }

    .aboutUs__subheader {
        font-size: 18px;
    }

    .aboutUs__desc {
        font-size: 15px;
    }

    .aboutUs__buttons {
        padding-right: 0;
    }

    .aboutUs__btn {
        width: 25px;
    }

    .aboutUs__content {
        width: 48%;
    }

    .aboutUs__images {
        width: 55%;
    }

    .player__option {
        width: 31%;
    }

    .player__option__price {
        font-size: 75px;
    }

    .faq__btn, .faq__question__header__h {
        font-size: 25px;
    }

    .faq__question__header__btn {
        font-size: 50px;
    }

    .userInfoEdition__fullName {
        font-size: 28px;
    }

    .userInfoEdition__form__field {
        font-size: 21px;
    }

    .userInfoEdition__section {
        margin-right: 3vw;
    }

    .playerCard__stats__item__value {
        font-size: 32px;
    }

    .playerCard__header__h {
        font-size: 21px;
    }
}

@media(max-width: 1400px) {
    .footer__inner {
        width: var(--siteWidth);
    }

    .clubCarousel__item__img {
        width: 90px;
    }

    .siteHeader__logo__img {
        width: 200px;
    }

    .registerModal__inner {
        width: 90%;
    }

    .userInfoEdition, .playerInfoEdition {
        width: var(--siteWidth);
    }

    .userInfoEdition__section {
        width: 250px;
    }

    .userInfoEdition__imgWrapper {
        width: 240px;
        height: 240px;
    }

    .myAccountStart__bottom__content__days {
        font-size: 30px;
    }

    .myAccountStart__bottom__content__days--big {
        font-size: 100px;
    }

    .player__header--findNewPlayer {
        font-size: 32px;
    }

    .clubAccountStart__bottom__text {
        font-size: 14px;
    }

    .button--clubAccountBottom, .orSpan {
        width: 300px;
    }

    .orSpan {
        font-size: 14px;
    }

    .siteWidthSuperNarrow--1400 {
        width: var(--siteWidth);
    }

    .clubTeams .createSquad__squad__item__dragging__imgWrapper {
        width: 100px;
        height: 100px;
    }
}

@media(max-width: 1200px) {
    .d-over-1200 {
        display: none;
    }

    .d-below-1200 {
        display: block;
        padding: 40px 0;
    }

    .myAccountStart__bottom__content__section {
        width: 100%;
        max-width: 500px;
    }

    .myAccountStart__bottom__content {
        flex-direction: column;
    }

    .footer__col__header {
        font-size: 18px;
    }

    .footer__col__list__item {
        font-size: 14px;
    }

    .footer__col:first-of-type {
        width: 200px;
    }

    .footer__contactItem .footer__col__list__item__link {
        left: 40px;
    }

    .footer__col__socialMediaLink {
        margin: 0 10px;
    }

    .siteHeader__logo__img {
        width: 120px;
    }

    .siteHeader__menu {
        padding: 0 20px;
    }

    .siteHeader__btn {
        width: 100px;
        font-size: 15px;
    }

    .loginBox {
        width: 250px;
        padding: 20px;
    }

    .loginBox__form label, .loginBox__form .input {
        height: 40px;
        font-size: 14px;
    }

    .loginBox__form .input::placeholder,
    .loginBox__passwordRemindLink, .loginBox__or {
        font-size: 14px;
    }

    .loginBox__form label {
        margin-bottom: 10px;
    }

    .button--submit {
        font-size: 17px;
    }

    .button--facebook, .button--google, .button--apple {
        font-size: 12px;
    }

    .button--facebook__img, .button--google__img, .button--apple__img {
        margin-right: 5%;
    }

    .loginBox::before {
        right: 15%;
    }

    .registerForm label {
        height: 40px;
    }

    .registerModal__inner {
        height: 600px;
    }

    .registerModal__img {
        width: 40%;
    }

    .registerForm .input {
        height: 40px;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .sexFieldPlaceholder, .input--date__overlay {
        font-size: 15px;
    }

    .inputDateWrapper, .registerForm__select {
        height: 40px;
    }

    .registerForm .label--checkBtn {
        font-size: 10px;
    }

    .triangleDownImg {
        transform: scale(.7);
    }

    .label--checkBtn {
        padding-left: 35px;
    }

    .registerForm__checkBtn {
        width: 20px;
        height: 20px;
    }

    .aboutUs__captionWrapper {
        width: 250px;
    }

    .aboutUs__content {
        width: 45%;
    }

    .aboutUs__header {
        font-size: 26px;
    }

    .aboutUs__content {
        padding-bottom: 50px;
    }

    .player {
        width: var(--siteWidth);
    }

    .player__flex--options {
        margin: 30px 0;
    }

    .player__option__name {
        font-size: 21px;
    }

    .player__option__price {
        font-size: 70px;
    }

    .player__option__currency {
        font-size: 25px;
    }

    .faq__btn, .faq__question__header__h {
        font-size: 17px;
    }

    .faq__question__header__btn {
        font-size: 30px;
    }

    .mapContent {
        width: var(--siteWidth);
    }

    .mapContent .player__header {
        font-size: 32px;
    }

    .input--editProfile, .select--editProfile {
        font-size: 17px;
    }

    .siteWidthSuperNarrow {
        width: var(--siteWidth);
    }

    .myAccountStart__bottom__subscriptions > section {
        margin: auto;
    }

    .myAccountStart__text, .blogSection__extract, .clubActivities__empty {
        font-size: 14px;
    }

    .button--readMore {
        font-size: 15px;
    }

    .blogSection__title {
        font-size: 21px;
    }

    .clubActivities__header {
        font-size: 24px;
    }

    .clubActivities__subheader {
        font-size: 17px;
    }

    .findNewPlayerWrapper .playerCard {
        width: 48%;
    }

    .findNewPlayerWrapper .playerCard:last-of-type {
        display: none;
    }

    .playersWall__compareSection__item__imgWrapper {
        width: 100px;
        height: 100px;
    }

    .button--compare {
        width: 200px;
    }

    .playersWall__compareSection__item__name {
        margin-top: 10px;
        font-size: 17px;
    }

    .comparedPlayer__imgWrapper {
        width: 200px;
        height: 200px;
    }

    .comparedPlayer__fullName {
        font-size: 24px;
    }

    .comparedPlayer__section__key, .comparedPlayer__section__value {
        font-size: 16px;
    }

    .clubTeams__item__col {
        font-size: 14px;
    }

    .clubTeams .createSquad__squad__item__dragging__imgWrapper {
        width: 7vw;
        height: 7vw;
        top: 18%;
    }

    .clubTeams .createSquad__squad__item__dragging__header {
        height: 30px;
    }

    .clubTeams .createSquad__squad__item__dragging__header__name {
        font-size: 10px;
    }

    .clubTeams .createSquad__squad__item__dragging__header__position {
        font-size: 8px;
    }
}

@media(max-width: 996px) {
    .d-desktop-900 {
        display: none !important;
    }

    .d-mobile-900-flex {
        display: flex !important;
    }

    .clubTeams__header {
        font-size: 24px;
    }

    .clubTeams__item__col {
        flex-basis: 45% !important;
    }

    .clubTeams__item__col:nth-of-type(2) {
        text-align: right;
        justify-content: flex-end;
    }

    .faqPage {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .clubCarousel__item__img {
        width: 60px;
    }

    .clubCarousel {
        height: 180px;
    }

    .clubCarousel__header {
        font-size: 15px;
    }

    .registerModal__inner {
        height: 550px;
    }

    .registerModal__header {
        font-size: 32px;
    }

    .registerModal__step {
        font-size: 17px;
    }

    .registerForm--nextBtn {
        width: 220px;
        height: auto;
    }

    .loginBox__error {
        font-size: 12px;
    }

    .resetPassword--newPassword label {
        width: 90%;
    }

    .resetPassword--newPassword .input {
        width: 100%;
    }

    .aboutUs__main {
        width: var(--siteWidth);
    }

    .aboutUs__content {
        width: 30%;
    }

    .aboutUs__images {
        width: 70%;
    }

    .player__flex__imgWrapper {
        width: 55%;
    }

    .tmpWrapper {
        width: 45%;
    }

    .player__header {
        font-size: 25px;
    }

    .player__flex__text {
        font-size: 15px;
    }

    .player__step__header {
        font-size: 17px;
    }

    .player__option__price {
        font-size: 50px;
    }

    .player__option__currency {
        font-size: 17px;
    }

    .faq__header {
        padding: 0 20px;
    }

    .userInfoEdition__key {
        width: 160px;
    }

    .mapContent__header, .mapContent__filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .mapContent__header__item {
        margin-left: 0;
        margin-bottom: 25px;
    }

    .mapContent__header__item__header {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .mapContent .player__header {
        margin-bottom: 20px;
    }

    .mapContent__header__item__labels span {
        font-size: 14px;
    }

    .mapContent__clubsWrapper {
        flex-direction: column;
    }

    .mapImg {
        order: 2;
        width: 100%;
        max-width: 600px;
        margin-top: 40px;
    }

    .mapContent__clubs {
        order: 1;
        width: 100%;
    }

    .userInfoEdition, .playerInfoEdition {
        flex-direction: column;
        width: 100%;
    }

    .playerInfoEdition {
        margin-top: 30px;
    }

    .userInfoEdition__graphSection {
        margin-left: 0;
        margin-top: 10px;
    }

    .userInfoEdition__graphSection > svg {
        max-width: 80vw;
    }

    .label--marginRightMinus .input--editProfile {
        margin-right: -52px;
    }

    .userInfoEdition__form {
        width: 100% !important;
        border-radius: 0;
        max-width: 700px;
    }

    .userInfoEdition .userInfoEdition__form {
        margin-top: 50px;
    }

    .userInfoEdition__key, .userInfoEdition__value *, .userInfoEdition__value {
        font-size: 14px;
    }

    .userInfoEdition__btn {
        width: 10px;
    }

    .userInfoEdition__imgWrapper, .userInfoEdition__section {
        margin-right: 0;
    }

    .userInfoEdition__section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .userInfoEdition__value--salary .userInfoEdition__btn {
        margin-right: 5px;
    }

    .playerInfoEdition .userInfoEdition__btn--position {
        margin-left: 10px;
    }

    #apexchartsbasicxbar {
        width: 100% !important;
    }

    #playerGraph > div {
        margin-top: 0;
    }

    .playerVideoView .video-react {
        height: 150px;
        margin: 0 8px;
    }

    .userInfoEdition__graphSection {
        height: auto;
    }

    .video-react-big-play-button {
        width: 40px;
        height: 40px;
    }

    .playerVideoView {
        margin-bottom: -40px;
    }

    .videoTable__header__h, .videoTable__item__element {
        font-size: 15px;
    }

    .videoTable__uploadBtn {
        width: 15px !important;
    }

    .playerCard {
        width: 48%;
    }

    .searchFilters__position__header, .searchFilters__position__button {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    .d-mobile {
        display: block !important;
    }

    .d-desktop {
        display: none !important;
    }

    .footer {
        /*bottom: -550px;*/
        padding-bottom: 0;
    }

    .footer__inner {
        flex-direction: column;
    }

    .footer__inner .footer__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__col__header {
        margin-bottom: 0;
    }

    .footer__col__list__item {
        text-align: center;
    }

    .footer__col:last-of-type {
        order: 1;
    }

    .footer__col:first-of-type {
        order: 2;
    }

    .footer__col:nth-of-type(2) {
        order: 3;
    }

    .footer__contactItem .footer__col__list__item__link {
        position: relative;
        left: 15px;
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background: #474747;
        z-index: 1000;
        transform-origin: top right;
        transform: scaleX(0);
        transition: .5s all ease-in-out;
    }

    .mobileMenu > * {
        opacity: 0;
        transition: .5s all ease-in-out;
    }

    .mobileMenu__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: auto;
        background: transparent;
        border: none;
        outline: none;
    }

    .mobileMenu__close__img {
        filter: brightness(0) invert(1);
        width: 100%;
    }

    .mobileMenu__header {
        text-align: center;
        font-family: 'Oxanium', cursive;
        font-weight: 500;
        font-size: 30px;
        color: #fff;
        margin-top: 10vh;
    }

    .mobileMenu__list {
        width: 80%;
        margin: 30px auto;
    }

    .mobileMenu__list__item {
        text-align: center;
        padding: 20px 0;
        border-bottom: 2px solid var(--gold);
    }

    .mobileMenu__list__link {
        color: rgba(212, 212, 212, .8);
        font-size: 17px;
    }

    .mobileMenu__bottom {
        position: absolute;
        bottom: 10vh;
        left: 10%;
        width: 100%;
    }

    .mobileMenu__bottom__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 75%;
        margin: auto;
    }

    .mobileMenu__bottom__item {
        margin-bottom: 25px;
    }

    .mobileMenu__bottom__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: rgba(212, 212, 212, 1);
        background: transparent;
        font-size: 15px;
    }

    .mobileMenu__bottom__img {
        width: 35px;
        height: auto;
        margin-right: 25px;
    }

    .clubCarousel {
        height: 140px;
    }

    .clubCarousel__header {
        padding: 20px 0;
    }

    .clubCarousel__inner {
        width: 90%;
    }

    .registerForm__select__option {
        font-size: 15px;
    }

    .resetPassword__header {
        font-size: 15px;
    }

    .label--remindPassword {
        width: 80%;
    }

    .input--remindPassword {
        width: 100%;
    }

    .button--resetPassword {
        width: 80%;
    }

    .resetPassword .button--back {
        width: 90%;
    }

    .container--homepage::before,
    .container--homepage::after
    {
        transform: skewX(-8deg);
    }

    .container--homepage::after {
        right: -24vw;
    }

    .aboutUs__main {
        flex-direction: column;
        border-bottom: 5px solid #F1E9DA;
    }

    .aboutUs__main > * {
        width: 100% !important;
        max-width: 500px;
    }

    .aboutUs__images {
        order: 1;
    }

    .aboutUs__content {
        order: 2;
        margin-top: 50px;
        padding-bottom: 0;
    }

    .aboutUs__profileWrapper {
        transform: none;
    }

    .aboutUs::after {
        display: none;
    }

    .aboutUs__main {
        margin-top: 20px;
        align-items: center;
    }

    .aboutUs__header--mobile {
        margin-bottom: 150px;
    }

    .aboutUs__profileWrapper {
        transform: scale(1.9) translateX(10%);
    }

    .aboutUs__profileWrapper--background {
        transform: scale(1.4) translateX(0);
        filter: brightness(.4) opacity(.5);
    }

    .aboutUs__captionWrapper {
        margin: 0 auto 40px;
        width: 100vw;
        transform: translateX(-5vw);
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutUs__caption {
        width: 80%;
        max-width: 400px;
    }

    .aboutUs__captionWrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 100%;
        height: 550px;
        background: linear-gradient(180deg, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.75) 35%, rgba(255,255,255,1) 100%);
        z-index: -1;
    }

    .aboutUs__subheader, .aboutUs__desc {
        position: relative;
        z-index: 6;
    }

    .footer--light--mobile {
        background: var(--light);
    }

    .footer--light--mobile .footer__col__header {
        color: var(--goldDark);
    }

    .footer--light--mobile .footer__col__list__item {
        color: #000;
    }

    .footer--light--mobile .footer__col__list__item__link:hover {
        color: var(--goldDark);
    }

    .player__section, .player__flex {
        flex-direction: column;
        align-items: center;
    }

    .player__flex > *,
    .player__section > * {
        width: 100%;
    }

    .player__flex__imgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 30px;
    }

    .player__section--1 .player__flex__imgWrapper {
        order: 2;
    }

    .player__section--1 .player__flex__content {
        order: 1;
    }

    .player__flex--section {
        margin: 50px 0;
    }

    .player__step {
        margin-bottom: 30px;
    }

    .player__step__imgWrapper {
        width: 70vw;
        height: 70vw;
        max-width: 300px;
        max-height: 300px;
    }

    .player__option {
        max-width: 350px;
        margin-bottom: 25px;
    }

    .player__option__header {
        font-size: 24px;
    }

    .player__option__price {
        font-size: 90px;
    }

    .player__option__currency {
        font-size: 30px;
    }

    .faq__header {
        flex-direction: column;
        height: auto;
    }

    .faq__header__divider {
        display: none;
    }

    .faq__btn {
        margin: 5px 0;
        height: 50px;
    }

    .faq__btn--current::after {
        height: 5px;
    }

    .faq__question__header {
        padding: 0 5%;
    }

    .faq__question__main {
        font-size: 13px;
    }

    .siteHeader__player {
        background: transparent;
    }

    .d-desktop-flex {
        display: none;
    }

    .playerVideoView {
        width: 100%;
    }

    .playerVideoView__btnWrapper {
        justify-content: center;
    }

    .embla__slide--video {
        height: 140px;
        margin: 0 15px;
    }

    .embla__slide--video__playBtn {
        width: 40px;
        height: 40px;
    }

    .videoUploadContent {
        width: 100%;
    }

    .videoTable__item {
        border-left: none;
        border-right: none;
    }

    .player__header {
        margin-left: 5vw;
    }

    .videoUpload__backBtn, .videoTable__header {
        display: none;
    }

    .videoTable__mobile__more {
        width: 15px;
        height: auto;
        background: transparent;
    }

    .videoTable__mobile__more__img {
        width: 100%;
    }

    .videoTable__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        position: relative;
    }

    .videoTable__item__miniature {
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    .videoTable__item__element:first-of-type {
        grid-row: 1;
        grid-column: 2;
    }

    .videoTable__item__element:last-of-type {
        grid-column: 2;
        grid-row: 2;
    }

    .videoTable__mobileButtons {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .videoTable__item__element {
        width: 90%;
    }

    .videoUploadContent {
        margin-bottom: -100px;
    }

    .videoUploader__imgWrapper {
        width: 80px;
        height: 80px;
    }

    .videoUploader__text {
        font-size: 16px;
    }

    .player__header--videoUploader {
        margin-left: 0;
        left: 50px;
    }

    .videoTable__mobile__activity {
        font-size: 12px;
        background: #5E5D5D;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        padding: 3px 5px 0;
        font-family: 'Oxanium', cursive;
        font-weight: 300;
    }

    .modal__inner__header {
        font-size: 17px;
    }

    .payment__header {
        font-size: 21px;
    }

    .payment__text, .payment__item__header {
        font-size: 14px;
    }

    .payment {
        padding-top: 15px;
    }

    .payment__item {
        padding: 15px;
        height: 80px;
    }

    .input--couponCode {
        width: 200px;
    }

    .payment__item__icon {
        width: 50px;
    }

    .payment__item__iconAbsolute {
        width: 12px;
    }

    .paymentMethod {
        padding: 15px;
    }

    .payment__item__formWrapper {
        width: calc(100% - 30px);
    }

    .input--payment {
        height: 40px;
        font-size: 15px;
    }

    .input--payment::placeholder {
        font-size: 15px;
    }

    .button--payment--card {
        margin-top: 10px;
    }

    .paymentItemWrapper {
        margin-bottom: 10px;
    }

    .input--couponCode {
        margin-top: 15px;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    .payment__couponCode label, .payment__couponCode__error, .payment__couponCode__result span {
        font-size: 17px;
    }

    .myAccountStart__bottom__content__lock {
        margin: 0 auto;
        transform: none;
    }

    .player__flex__content .player__header, .myAccountStart__bottom__content__section .player__header {
        margin-left: 0;
    }

    .pageContent--paymentReturn {
        margin-top: 50px;
    }

    .pageContent__header {
        font-size: 24px;
    }

    .pageContent__subheader {
        font-size: 15px;
    }

    .clubAccountStart__bottom {
        flex-direction: column;
    }

    .clubAccountStart__bottom__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure.clubAccountStart__bottom__section {
        margin-bottom: 50px;
    }

    .player__header--findNewPlayer {
        margin: 0 0 20px 0;
    }

    .findNewPlayerWrapper .playerCard:last-of-type {
        display: block;
    }

    .playerCard {
        width: 95% !important;
    }

    .button--showPlayersPage {
        width: 80%;
        max-width: 400px;
        margin: 40px auto 0;
    }

    .playerCard__imgWrapper {
        height: 270px;
    }

    .playersWall--mobile {
        width: 100% !important;
        padding-bottom: 50px;
    }

    .playersWall__mobileHeader {
        margin: 30px auto;
        width: 90%;
    }

    .playersWall__mobileHeader__header {
        color: rgba(255, 255, 255, .8);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 28px;
    }

    .playersWall__mobileHeader__filterBtn {
        margin: 25px 0;
        width: 150px;
        height: 40px;
        background: #474747;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        margin-left: -5vw;
    }

    .playersWall__mobileHeader__filterBtn__img {
        width: 25px;
        height: auto;
        margin-right: 30px;
    }

    .playersWall__mobileFilters {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        background: #282828;
        z-index: 12;
    }

    .playersWall__mobileFilters__header {
        background: #474747;
        padding: 5px 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        position: relative;
    }

    .playersWall__mobileFilters__header__btn {
        background: transparent;
        width: 20px;
        height: auto;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .playersWall__mobileFilters__header__btn__img {
        filter: brightness(0) invert(1);
        transform: rotate(180deg);
    }

    .playersWall__mobileFilters__header__h {
        color: #fff;
        font-size: 21px;
        font-weight: 400;
        font-family: 'Oxanium', cursive;
        text-align: center;
    }

    .playersWall__mobileFilters .searchFilters__filters {
        width: 85%;
        margin: 20px auto;
    }

    .singleFilter__values__min, .singleFilter__values__max,
    .playersWall__mobileFilters .singleFilter__header {
        font-size: 14px;
    }

    .playersWall__mobileFilters .singleFilter {
        margin-bottom: 20px;
    }

    .playersWall--mobile {
        min-height: 80vh;
    }

    .playersWall__playersNotFoundHeader {
        color: #fff;
        text-align: center;
        margin: 50px auto 20px;
        max-width: 90%;
        font-size: 21px;
    }

    .playersWall__mobileFilters__btn {
        width: 90%;
        display: block;
        margin: 20px auto;
        background: transparent;
    }

    .searchFilters__position--mobile {
        background: transparent;
        border: none;
        display: grid;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0 5vw;
    }

    .searchFilters__position--mobile .searchFilters__position__header {
        grid-column: 1 / span 2;
        margin-bottom: 20px;
    }

    .searchFilters__position--mobile .searchFilters__position__positions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;
        width: 85vw;
    }

    .searchFilters__position--mobile .searchFilters__position__button {
        display: block;
        width: 48%;
        margin-bottom: 20px;
    }

    .noVideosHeader {
        font-size: 21px;
        max-width: 90%;
        margin: auto;
    }

    .playerVideoView__carousel .splide, .playerVideoView__carousel .splide-track,
    .playerVideoView__carousel .video-react {
        height: 100px !important;
    }

    .playerVideoView__btn--club {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .playBtn {
        width: 30px;
        height: 30px;
    }

    .userInfoEdition__form--dark .label--marginRightMinus .input--editProfile {
        margin-right: -17px;
    }

    .playerVideoView__carousel {
        height: auto;
    }

    .clubTeams .createSquad__squad__item__dragging__header {
        height: auto;
    }

    .clubTeams .createSquad__squad__item__dragging__header__name {
        font-size: 7px;
    }

    .clubTeams .createSquad__squad__item__dragging__header__position {
        font-size: 5px;
    }

    .createSquad__squad__item__dragging__header {
        bottom: 15%;
        padding: 1px;
    }
}

@media(max-width: 576px) {
    .resetPassword .successImg {
        width: 60px;
    }

    .resetPassword {
        height: auto;
        padding: 50px 4%;
    }

    #playerGraph > div {
        margin-left: 5vw;
    }

    .dzu-dropzone::after {
        width: 70px;
        height: 70px;
        background-size: 40px;
    }

    .videoTable__item {
        height: 110px;
    }

    .videoTable__item__miniature {
        width: 120px;
        height: 67px;
    }

    .player__header--videoUploader {
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 50px;
    }

    .paymentMethod__btn {
        width: 30%;
        height: 65px;
    }

    .paymentMethod__name {
        font-size: 8px;
    }

    .payment__item {
        padding-right: 70px;
    }

    .findNewPlayer--mobile {
        width: 100vw;
        margin-left: -5vw;
    }
}

@media(max-width: 400px) {
    .aboutUs__header {
        margin-bottom: 130px;
    }
}

@media(max-width: 350px) {
    .aboutUs__header {
        font-size: 21px;
    }
}

@media(-webkit-min-device-pixel-ratio: 1.2) {
    .loginBox {
        transform: translateY(95%) scale(.9);
    }

    .registerModal__inner {
        transform-origin: top left;
        transform: scale(.85) translate(-50%, -50%);
    }

    .container--homepage::before, .container--homepage::after {
        height: 190vh;
    }
}

@media(min-height: 1300px) {
    .aboutUs__main {
        padding: 150px 0 120px;
    }
}
